<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FinanceAccountProgram.Resources.Diary" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="FinanceAccountProgram.Diary" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <connectionStrings>
    <add name="AccountEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AccountDBModel;persist security info=True;user id=hahaha;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <FinanceAccountProgram.Resources.Diary>
      <setting name="Office365" serializeAs="String">
        <value>299</value>
      </setting>
      <setting name="Salary" serializeAs="String">
        <value>31937</value>
      </setting>
      <setting name="CompanyInsurace" serializeAs="String">
        <value>2328</value>
      </setting>
      <setting name="LaborHealthInsuranceCost" serializeAs="String">
        <value>2474</value>
      </setting>
      <setting name="OfficeCost" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DiaryAccNo" serializeAs="String">
        <value>WF</value>
      </setting>
      <setting name="MediaCost" serializeAs="String">
        <value>775</value>
      </setting>
      <setting name="AccNo" serializeAs="String">
        <value>WF</value>
      </setting>
      <setting name="AccNoNum" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AccNoDate" serializeAs="String">
        <value>yyyyMMdd</value>
      </setting>
      <setting name="AccYear" serializeAs="String">
        <value>2020</value>
      </setting>
      <setting name="ReportTitle" serializeAs="String">
        <value>金心資訊科技有限公司</value>
      </setting>
    </FinanceAccountProgram.Resources.Diary>
    <FinanceAccountProgram.Diary>
      <setting name="Office365" serializeAs="String">
        <value>299</value>
      </setting>
      <setting name="Salary" serializeAs="String">
        <value>31937</value>
      </setting>
      <setting name="CompanyInsurace" serializeAs="String">
        <value>2328</value>
      </setting>
      <setting name="LaborHealthInsuranceCost" serializeAs="String">
        <value>2474</value>
      </setting>
      <setting name="OfficeCost" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DiaryAccNo" serializeAs="String">
        <value>WF</value>
      </setting>
      <setting name="MediaCost" serializeAs="String">
        <value>775</value>
      </setting>
      <setting name="AccNo" serializeAs="String">
        <value>WF</value>
      </setting>
      <setting name="AccNoNum" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AccNoDate" serializeAs="String">
        <value>yyyyMMdd</value>
      </setting>
    </FinanceAccountProgram.Diary>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.11" newVersion="1.3.3.11"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
